
<!DOCTYPE html>
<html lang="en">
{% set title = "Algorithms" %}
{% include 'navigation/head.html' %}
<body>
    <div class="wrapper">
        {% include 'navigation/navbar.html' %}
        {% include 'navigation/sidebar.html' %}
        <div class="main_container">
            <div class="item">
                <h1>Pick an algorithm!</h1>
                <br>
                <p>We offer a few algorithms that will automatically trade stocks for you. Pick the right one.</p>
                <br>
                <p>Algorithm 1</p>
                <br>
                <p>Description: This algorithm uses the historical averages ...</p>
            </div>            
        </div>
    </div>
    
</body>
</html>