<!DOCTYPE html>
<html lang="en">
{% set title = "Home" %}
{% include 'navigation/head.html' %}
<body>
    <div class="wrapper">
        {% include 'navigation/navbar.html' %}
        {% include 'navigation/sidebar.html' %}
        <div class="main_container">
            <div class="item">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut sapiente adipisci nemo atque eligendi reprehenderit minima blanditiis eum quae aspernatur!</div>
            <div class="item">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut sapiente adipisci nemo atque eligendi reprehenderit minima blanditiis eum quae aspernatur!</div>
            <div class="item">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut sapiente adipisci nemo atque eligendi reprehenderit minima blanditiis eum quae aspernatur!</div>
            <div class="item">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut sapiente adipisci nemo atque eligendi reprehenderit minima blanditiis eum quae aspernatur!</div>
        </div>
    </div>
    
</body>
</html>