
<!DOCTYPE html>
<html lang="en">
{% set title = "Profile" %}
{% include 'navigation/head.html' %}
<body>
    <div class="wrapper">
        {% include 'navigation/navbar.html' %}
        {% include 'navigation/sidebar.html' %}
        <div class="main_container">
            <div class="item">
                <h1>User Profile</h1>
                <br>
                <p>Welcome name</p>
                <br>
                <p>Change password</p>
                <br>
                <p>.</p>
            </div>            
        </div>
    </div>
    
</body>
</html>