<div class="sidebar">
    <ul>
        <li><a href="{{ url_for('tradingaccount.tradingaccount') }}"><span class="icon"><i class="fas fa-book"></i></span><span class="title">Trading Account</span></a></li>
        <li><a href="{{ url_for('algorithm.algorithm') }}"><span class="icon"><i class="fas fa-file-video"></i></span><span class="title">Algorithms</span></a></li>
        <li><a href="{{ url_for('market.viewstocks') }}"><span class="icon"><i class="fas fa-volleyball-ball"></i></span><span class="title">View Market</span></a></li>
        <li><a href="{{ url_for('historicaltrades.historicaltrades') }}" class="active"><span class="icon"><i class="fas fa-blog"></i></span><span class="title">Historical Trades</span></a></li>
        <li><a href="{{ url_for('home.home_page') }}"><span class="icon"><i class="fas fa-leaf"></i></span><span class="title">Information</span></a></li>
    </ul>
</div>